*{
  margin: 0;
  padding: 0;
}
h1, h2, h3{
  margin: 20px 0 20px 0;
}
ul, li{
  list-style: none;
}
a{
  cursor: pointer;
  text-decoration: none;
}
/* PC用CSS */

#header-content{
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px;
}
.header-flex{
  display: flex;
  margin-top: 20px;
}
.header-top{
  padding: 0;
}
.header-text{
  text-align: left;
}
.header-right{
  margin: 0 0 0 auto;
  font-size: 18px;
}
.sns-link{
  float: right;
}
.menu-area{
  max-width: 100%;
  display: flex;
  background-color: #80808047;
}
.menu-content-top{
  margin-left: 7.5%;
  border-right: solid 1px #fff;
  border-left: solid 1px #fff;
  padding: 20px 10px 20px;
  letter-spacing: 0.2rem;
}
.menu-content{
  border-right: solid 1px #fff;
  padding: 20px 10px 20px;
  letter-spacing: 0.2rem;
}

/* コンテンツ指定 */
.content-title{
  margin: auto;
  background-color: #80808047;
  overflow: hidden;
}
.sub-content-title{
  margin: auto;
  background-color: #fff;
  overflow: hidden;
}
.head-title{
  position: relative;
  left: 20%;
}
.content-img{
  width: 100%;
}
.hero{
  color: #fff;
  background-image: url(../moom/assets/image/image01.jpg);
  background-size: cover;
  height: 600px;
  background-position: 50% 40%;
  overflow: hidden;
}
.hero-content{
  position: relative;
  left: 25%;
  top: 15%;
  font-size: 20px;
}
.hero-content-sp{
  display: none;
}
.hero-head{
  margin-top: 50px;
}
.hero-text{
  text-align: left;
}
.hero-button{
  background-color: #6e01ff;
  border-radius: 7px;
  margin: 20px 0 20px 0;
  width: 8em;
  padding: 12px;
}
.hero-button, a{
  color: #fff;
}
.content-area1{
  display: flex;
  max-width: 1600px;
  margin: auto;
  margin-bottom: 40px;
}
.main-area{
  background-color: #80808047;
  padding-bottom: 40px;
}
.sub-title{
  position: relative;
  left: 20%;
}
.sub-content-area{
  background-color: #fff;
  padding-bottom: 40px;
}
.flex-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10%;
}
.main-content1, h1{
  padding: 20px;
  margin: 0px;
  text-align: left;
}
.main-content1, p{
  text-align: center;
}
.main-content1, img{
  padding: 10px;
}
.content-area2{
  display: flex;
  max-width: 1600px;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
}
.main-content2{
  background-color: #fff;
}
.main-content2, h1{
  padding: 20px;
  margin: 0px;
  text-align: left;
}
.main-content2, p{
  text-align: center;
}
.main-content2, img{
  padding: 10px;
}
.footer{
  padding: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
}
.sp-br{
  display: none;
}
.tel_direction{
  text-decoration: underline;
  color: #000;
}
/* スマホ用 */
@media screen and (max-width: 1275px){
*{
  margin: 0;
  padding: 0;
}
.sp-br{
  display: inline;
}
#header-content{
  width: 100%;
  margin-bottom: 20px;
  /* background-color: #000; */
}
.header-flex{
  display: block;
  margin: 0px;
}
.header-top{
  text-align: center;
  margin-bottom: 20px;
}
.header-text{
  text-align: center;
  margin-bottom: 20px;
}
.sns-link{
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}
.menu-area{
  display: none;
}
.hero{
  margin-top: 85px;
  color: #fff;
  background-size: cover;
  height: 600px;
  background-position: 50% 40%;
  overflow: unset;
}
.hero-content{
  text-align: center;
  position: static;
  font-size: 14px;
  padding-top: 35%;
}
.hero-text{
  text-align: center;
}
.hero-button{
  background-color: #6e01ff;
  border-radius: 7px;
  margin: 20px auto;
  width: 40%;
  padding: 12px;
}
.hero-button, a{
  color: #fff;
}
.head-title{
  text-align: center;
  position: relative;
  left: 0;
}
.sub-title{
  text-align: center;
  position: relative;
  left: 0;
}
.content-title {
  margin: auto;
  background-color: #80808047;
  overflow: unset;
}
.content-area{
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
/* .main-content1, img{
  width: 100%;
} */
.content-img{
  width: 100%;
}
}
